bin/GoSungrow
AppService_*.json
WebAppService_*.json

#*.txt
/GoSungrow
/GoSungrow.exe
/data/
/dist/
/notgit/
logfile
/%USERPROFILE%/
.idea/
tools/preview/output/
tools/preview/screenshots/
__pycache__/
*.pyc
node_modules/

